<a href="https://colab.research.google.com/github/areummy/LikeLion/blob/main/JumpToPython_03%EC%9E%A5_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1
다음 코드의 결괏값은 무엇일까? =틀림

In [ ]:
a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

# shirt

shirt

Q2
while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.

In [ ]:
a=1
b=0

while a<=1000:
  if a%3==0:
    b+=a
  a+=1
print(b)

166833

Q3
while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.

In [ ]:
a=0
while True:
  a+=1
  if a>5: break
  print(a*"*")

*
**
***
****
*****

Q4
for문을 사용해 1부터 100까지의 숫자를 출력해 보자.

In [ ]:
for i in range(1,101):
  print(i,end='')

123456789101112131415161718192021222324252627282930313233343536373839404142434445464748495051525354555657585960616263646566676869707172737475767778798081828384858687888990919293949596979899100

Q5
A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.

[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

for문을 사용하여 A 학급의 평균 점수를 구해 보자.

In [ ]:
a=[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
b=0
for i in range(len(a)):
  b+=a[i]
print(b/len(a))

79.0

Q6
리스트 중에서 홀수에만 2를 곱하여 저장하는 다음 코드가 있다.
위 코드를 리스트 내포(list comprehension)를 사용하여 표현해 보자. = 틀림

In [ ]:
numbers = [1, 2, 3, 4, 5]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)

In [ ]:
numbers = [1, 2, 3, 4, 5]
result=[n*2 for n in numbers if n%2==1]