<a href="https://colab.research.google.com/github/areummy/LikeLion/blob/main/JumpToPython_02%EC%9E%A5_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1
홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

In [ ]:
홍길동=

Q2
자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

In [ ]:
num=input("값을 입력해주세요:")

if int(num)%2==0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

Q3
홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.
※ 문자열 슬라이싱 기법을 사용해 보자.

In [ ]:
a='881120-1068234'
print(a[0:6])
print(a[7:14])

881120
1068234

Q4
주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

In [ ]:
pin = "881120-1068234"
if pin[7]=="1":
    print("남")
else:
    print("여")

남

Q5
다음과 같은 문자열 a: b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

In [ ]:
a = "a:b:c:d"
a.replace(":","#")

'a#b#c#d'

Q6
[1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.
※ 리스트의 내장 함수를 사용해 보자.

In [ ]:
a=[1, 3, 5, 4, 2]
a.sort(reverse=True)
a

[5, 4, 3, 2, 1]

Q7
['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.
※ 문자열의 join 함수를 사용하면 리스트를 문자열로 쉽게 만들 수 있다.

In [ ]:
a=['Life', 'is', 'too', 'short'] 
a1=" ".join(a)
a1

'Life is too short'

Q8
(1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.
※ 더하기(+)를 사용해 보자.

In [ ]:
a=(1,2,3)
c=(4,)
print(a+c)

(1, 2, 3, 4)

Q9
다음과 같은 딕셔너리 a가 있다.다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.

In [ ]:
a=dict()
a['name']='python'
a[('a,')]='python'
#a[[1]]='python' 
a[250]='python'
a

{250: 'python', 'a,': 'python', 'name': 'python'}

Q10
딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.
※ 딕셔너리의 pop 함수를 사용해 보자.

In [ ]:
a = {'A':90, 'B':80, 'C':70}
a.pop('B')

80

Q11
a 리스트에서 중복 숫자를 제거해 보자. ※ 집합 자료형의 요솟값이 중복될 수 없다는 특징을 사용해 보자.

In [ ]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
set(a)

{1, 2, 3, 4, 5}

Q12
파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.

In [ ]:
a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]